<?xml version="1.0" ?>
<config>
 	<modules>
 		<Esime_CrossSell>
 			<version>0.1.0</version>
 		</Esime_CrossSell>
 	</modules>
 	<global>
        <blocks>
			<checkout>
				<rewrite>
					<cart_crosssell>Esime_CrossSell_Block_Cart_Crosssell</cart_crosssell>
				</rewrite>
			</checkout>
		</blocks>
        <helpers>
            <crosssell>
                <class>Esime_CrossSell_Helper</class>
            </crosssell>
        </helpers>
        <models>
            <crosssell>
                <class>Esime_CrossSell_Model</class>
                <resourceModel>crosssell_mysql4</resourceModel>
            </crosssell>
        </models>
        <resources>
            <crosssell_setup>
                <setup>
                    <module>Esime_CrossSell</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </crosssell_setup>
            <crosssell_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </crosssell_write>
            <crosssell_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </crosssell_read>
        </resources>
        <events>
            <cms_page_prepare_save>
                <observers>
                    <Esime_CrossSell_Model_Observer>
                        <type>singleton</type>
                        <class>crosssell/observer</class>
                        <method>saveProduct</method>
                    </Esime_CrossSell_Model_Observer>
                </observers>
            </cms_page_prepare_save>
        </events>
 	</global>
    <default>
        <crosssell>
            <customer_config>
                <enabled>1</enabled>
                <number>12</number>
                <selected>3</selected>
                <random>3</random>
                <bestsellers>4</bestsellers>
                <viewed>1</viewed>
                <rated>1</rated>
            </customer_config>
            <guest_config>
                <enabled>1</enabled>
                <number>12</number>
                <selected>4</selected>
                <random>2</random>
                <bestsellers>4</bestsellers>
                <rated>2</rated>
            </guest_config>
            <bestseller>
                <range>2</range>
            </bestseller>
            <random>
                <type>0</type>
            </random>
        </crosssell>
    </default>
</config>
